body {
    color: #757575;
    font-family: "Roboto", sans-serif;
  }

  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }
  
  .img {
    display: block;
  }
  
  .btn {
    cursor: pointer;
    font-family: inherit;
    border: 1px solid transparent;
  }

  