.footer {
    background-color: $f-s-backgroud-color;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .logo-footer {
    color: $white-color;
  
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
  .address {
    font-style: normal;

    &-city{
      color: $white-color;
  
      font-size: 14px;
      line-height: 1.71;
      margin-top: 20px;
    }

    &-mail,&-phone{
      color: rgba(255, 255, 255, 0.6);
  
      margin-top: 9px;
    
      font-size: 14px;
      line-height: 1.71;
    
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    &-mail:hover,
    &-phone:hover,
    &-mail:focus,
    &-phone:focus{
      color: $link-logo-blue;
    }
  }

  

  .footer-field {
    display: flex;
    align-items: center;
  
    margin-top: 20px;
  }
  
  .input-footer {
    background-color: transparent;
    outline: none;
  
    width: 385px;
    height: 50px;
  
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
    
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  .btn-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 200px;
    height: 50px;
  
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
  
    margin-left: 12px;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover{
        background-color: #0c71c4;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
      }
  }
  
  .btn-icon-footer {
    margin-left: 10px;
  }
  
  
