.header-link.current {
    position: relative;
    color: $link-logo-blue;
  }

  .logo-header {
    color: #000000;
  
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
  
  .logo-blue {
    color: $link-logo-blue;
  }
  
  .header-link {
    color: $title-color;
  
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,&:focus{
      color: $link-logo-blue;
    }
  }
  
  
  .header-contact-list-item,
  .header-link {
    display: flex;
    align-items: center;
    fill: currentColor;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-contact-list-item:hover,
  .header-contact-list-item:focus {
    color: $link-logo-blue;
  }
  
  .contacts-icon {
    margin-right: 10px;
  }

    
/* .header {
    padding-top: 24px;
    padding-bottom: 25px;
  } */


  .header-nav {
    display: flex;
  
    margin-left: 93px;
  }
  
  .header-nav-item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-contacts {
    display: flex;
  
    margin-left: auto;
  }
  
  .header-contacts-item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-container {
    display: flex;
  
    align-items: center;
  }
  
  .header-portfolio {
    border-bottom: 1px solid #ececec;
  }
  

  .header-link.current::after {
    content: "";
  
    position: absolute;
    bottom: 0;
  
    width: 100%;
    height: 4px;
  
    background: $link-logo-blue;
    border-radius: 2px;
  }