.portfolio-btn {
    color: $title-color;
    background-color: #f5f4fa;
  
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
  
    padding: 6px 22px;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,&:focus{
        color: $white-color;
         background-color: $link-logo-blue;
      }
  }
  
  
  .works-item-title {
    color: $title-color;
  
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  .works-item-caption {
    font-size: 16px;
    line-height: 1.88;
  }

  .portfolio-nav-list {
    display: flex;
  
    justify-content: center;
  }
  
  .portfolio-list-item:not(:last-child) {
    margin-right: 8px;
  }
  
  .portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,&:focus{
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    }
  }
  
  .portfolio-works-list {
    margin-top: 50px;
  
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .portfolio-caption-block {
    padding: 20px 24px;
  
    border: 1px solid #eeeeee;
    border-top: 1px solid transparent;
  }

  .portfolio-contain-action {
    position: relative;
  
    overflow: hidden;
  }
  
  .portfolio-subscribe {
    position: absolute;
  
    top: 0;
    left: 0;
  
    height: 100%;
    padding: 63px 24px;
  
    background-color: rgba(33, 150, 243, 0.9);
  
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $white-color;
  
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .works-list-item:hover & {
      transform: translateY(0);
    }

  }
  

  .works-link {
    display: block;
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus{
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }